# 1. Ignore images (the big stuff)
*.iso
*.wim
*.efi
*.img

# 2. Ignore all executable files
*.exe
*.deb
*.bin
*.msi

*.key
*.zip
*.log

# 3. Use the '!' prefix to "un-ignore" your two specific files
# Replace 'specific-file1.exe' with the actual filenames
!specific-file1.exe
!specific-file2.exe

# Optional: Ignore Ventoy log files or temp data
/ventoy/ventoy.log
/debug/
/FOUND.0*/
/System Volume Information/
/WindowsSoft/winpe_tweak_chooser/
/WindowsSoft/Drivers/prowinx64legacy/
/WindowsSoft/Drivers/prowin32legacy/
Install_keys.txt
!ventoy_wimboot.img
!ventoy*.disk.img.xz
winutil*.ps1
fstab*
